<!DOCTYPE HTML>
<!-- To run, use the open in browser extension.-->
<html lang="en">
<head> 
    <title>First IterationTemplate</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="FirstIterationCSS.css"
</head>
<body>
    <nav>
        <ul>
         <li href="homepage.html">UnnamedTitle</li> <li href="lessons.html">Lessons</li> <li href="profile.html">profile</li>   
        </ul>
    </nav>

   <Header>First Iteration</Header> 
    
   <iframe src="https://scratch.mit.edu/projects/701443582/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

<footer>
    <ul>
        <li href="about.html">About</li> <li href="contact.html">Contact</li>
    </ul>
</footer>

</body>

</html>
