
    input[type=text], select {
      width: 10%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 10%;
      background-color: #4c4faf;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    p {
      border-radius: 5px;
      background-color: #f2f2f2;
      
      Float:left;
    }

    .Output {
        width: 10%;
        float:left;
    }
 
img{
  height:20px;
  width:20px;
}




  
  body{
    background-size:cover;
    background-color:#9EA2B5;
    font-family:sans-serif;
}

nav *{
    display:inline;
}

nav{
    background-color:#83acff;
    position:fixed;
    left:0; right:0; top:5px;
    
    box-shadow: 0 0 25px 0 black;
    max-width:100%;
}
nav ul{
    max-width:100%;
}
nav li{
    height: 5%;
    width:5%;
    padding:13.75%;

}
nav ul li a{
    font-size:large;
    color:Black;
   
    font-weight:bolder;
    
}
  .topstuck{
    position:fixed;
    margin-left: 40%;
    border:none;
    background-color:#9EA2B5;
    z-index:-5;

  }
  .toptext{
    margin-top:10;
  }
  .calculator{
    justify-content:right;
    border:none;
    background-color:#9EA2B5;

  }
  body{
    background-size:cover;
    background-color:#9EA2B5;
    font-family:sans-serif;
}

nav *{
    display:inline;
}


