
    input[type=text], select {
      width: 10%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 10%;
      background-color: #4c4faf;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    p {
      border-radius: 5px;
      background-color: #f2f2f2;
      
      Float:left;
    }

    .Output {
        width: 10%;
        float:left;
    }
 
img{
  height:20px;
  width:20px;
}



    body{
      background-size:cover;
      background-color:#9EA2B5;
      font-family:sans-serif;
  }
  
  nav *{
      display:inline;
  }
  
  nav{
      background-color:#83acff;
      position:sticky;
      left:0; right:0; top:5px;
      display:flex;
      align-items:center;
      box-shadow: 0 0 25px 0 black;
  }
  nav li{
      height: 5%;
      width:5%;
      margin-right:250px; margin-left:270px;
      text-align:center;
  
  }
  nav ul li a{
      font-size:large;
      color:Black;
      text-align:center;
      font-weight:bolder;
  }
  .topstuck{
    position:fixed;
    margin-left: 40%;
    border:none;
    background-color:#9EA2B5;
    z-index:-5;

  }
  .toptext{
    margin-top:10;
  }
  .calculator{
    justify-content:right;
    border:none;
    background-color:#9EA2B5;

  }
  body{
    background-size:cover;
    background-color:#9EA2B5;
    font-family:sans-serif;
}

nav *{
    display:inline;
}

nav{
    background-color:#83acff;
    position:sticky;
    left:0; right:0; top:5px;
    display:flex;
    align-items:center;
    box-shadow: 0 0 25px 0 black;
}
nav li{
    height: 5%;
    width:5%;
    margin-right:250px; margin-left:270px;
    text-align:center;

}
nav ul li a{
    font-size:large;
    color:Black;
    text-align:center;
    font-weight:bolder;
}

header{
    padding:2%;
    text-align:center;
    font-size:larger;
}
.InfoBody{
    text-align:center;
    padding:1%;
    font-size:large;
}

.start{
    text-align:center;
    padding:1%;
    font-size:large;
}
a{
    
    color:black;
    font-weight:bolder;
}