body {
    --color-primary: #83acff;
    --color-primary-dark: #76a2fc;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    
    
 background-color:#adb6e4; 
    background-size: cover;
   
}
.title h3{
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    margin-top:2em;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    position: absolute;
    top: 10%;
}

.todo-view {
    height: 200px;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: realative;
    top: 50px;

}
 

